@media all {


    h1 {
        font-family: 'Bebas Neue', cursive;
        font-size: 40px;
    }
    
    h2 {
        font-family: 'Bebas Neue', cursive;
        font-size: 30px;
    }
    
    h3 {
        font-family: 'Bebas Neue', cursive;
        font-size: 25px;
    }
    
    nav a {
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
    }
    
    nav span {
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
    }
    
    figcaption {
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
    }
    
    menu li {
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
    }
    
    #social li {
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
    }
    
    footer {
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
    }
    
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
    }
    
    dd {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
    }
    
    li {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
    }
    
    nav {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
    }
    
    input {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
    }
    
    dt {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 16px;
    }
    
    /* End of Fonts */
    html {
        background-color: rgba(122, 191, 191, .5)
    }
    
    body {
        width: 414px;
        margin: 0 auto;
        background-color: #F2F2F2;
    }
    
    p {
        margin: 15px;
    }
    
    #street img {
        width: 414px;
    }
    
    h2 {
        text-align: center;
    }
    
    footer {
        text-align: center;
        background-color: #FFFFFF;
    }
    
    footer img {
        width: 50%;
        margin: 0 auto;
        display: block;
    }
    
    #connect {
        background-color: #FFFFFF;
        display: block;
        padding-top: 15px;
    }
    
    #connect li {
        list-style-type: none;
        display: inline;
    }
    
    #connect figure {
        display: inline-block;
        margin: 0;
        padding: 20px;
    }
    
    #connect ul {
        padding: 0;
    }
    
    #connect a {
        text-decoration: none;
        color: #EB5428;
    }
    
    #connect h2 {
        display: none;
    }
    
    #top {
        display: block;
    }
    
    #top li {
        list-style-type: none;
        display: inline;
    }
    
    #top figure {
        display: inline-block;
        margin: 0;
        padding: 23px;
        text-align: center;
        padding-bottom: 0;
    }
    
    #top menu {
        padding: 0;
    }
    
    #top a {
        text-decoration: none;
        color: #EB5428;
    }
    
    #top h2 {
        padding-top: 100px;
        margin-bottom: -20px;
    }
    
    #side {
        background-color:rgb(122, 191, 191)
    }
    
    #side img {
        height: 100px;
        width: 100px;
        display: inline-block;
        margin-left: -30px;
    }
    
    #side figcaption {
        display: inline-block;
        margin-left: 15px; 
    }
    
    #side h3 {
        padding: 0;
        margin: 10px 0;
    }
    
    h4 {
        margin: 0;
        padding: 0;
    }
    
    #directions li {
        margin-left: -10px;
        padding-bottom: 15px;
    }
    
    #ingredients li {
        padding-bottom: 20px;
    }
    
    dd, dt {
        display: inline;
    }
    
    dl {
        margin-left: 20px;
    }
    
    h1 {
        display: none;
    }
    
    #menu ul {
        overflow: hidden;
        max-height: 0;
        transition: max-height .2s ease-out;
    }
    label {
        cursor: pointer;
        display: inline-block;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
    label span {
        background-color: #ffffff;
        display: block;
        height: 2px;
        position: relative;
        transition: background-color .2s ease-out;
        width: 18px;
    }
    label span:before, label span:after {
        background: #ffffff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    label span:before {
        top: 5px;
    }
    label span:after {
        top: -5px;
    }
    input {
        display: none;
    }
    input:checked ~ ul {
        max-height: 500px;
    }
    input:checked ~ label span {
        background: transparent;
    }
    input:checked ~ label span:before {
        transform: rotate(-45deg);
    }
    input:checked ~ label span:after {
        transform: rotate(45deg);
    }
    input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
        top: 0;
    }
    
    
    @media screen and (min-width:768px) {
        body {
            width: 768px;
        }
    
        footer img {
            width: 200px;
            margin: 0;
            margin-left: 70px;
        }
    
        footer {
            display: grid;
            grid-template-columns: 1fr;
        }
    
        #footertext {
            grid-column-start: 1;
            grid-column-end: 2;
            margin-right: 40px;
        }
    
        #connect {
            grid-column-start: 2;
            grid-column-end: 3;
        }
    
        #container {
            display: grid;
            grid-template-columns: 1fr;
        }
    
        #rice {
            grid-column-start: 0;
            grid-column-end: 1;
            height: 150px;
        }
        #salsa {
            grid-column-start: 1;
            grid-column-end: 2;
            height: 150px;
        }
        #guacamole {
            grid-column-start: 0;
            grid-column-end: 1;
            height: 150px;
        }
        #tortillas {
            grid-column-start: 1;
            grid-column-end: 2;
            height: 150px;
        }
        
        #side h2 {
            margin-bottom: -10px;
        }
    
        #street img {
            width: 768px;
            z-index: 0;
            position: relative;
        }
    
        #details {
            text-align: center;
        }
    
        #grid {
            display: grid;
            grid-template-columns: 1fr;
        }
    
        #ingredients {
            grid-column-start: 0;
            grid-column-end: 1;
        }
    
        #directions {
            grid-column-start: 1;
            grid-column-end: 2;
        }
    
        #directions li {
            padding: 25px;
        }
    
        menu {
            width: 768px;
            height: 100px;
            z-index: 2;
            position: relative;
        }
    
        #top menu {
            background-color: rgba(255, 255, 255, .5);
            margin-bottom: -100px;
            z-index: 1;
        }
    
        #top figure {
            padding-left: 100px;
        }
    
        #top h2 {
            margin-right: 600px;
        }
    
        #menu h2 {
            display: none;
        }
    
        #menu {
            background-color: #FFFFFF;
        }
        
       
    
    }
    
    @media screen and (min-width:1280px) {
        body {
            width: 1280px;
        }
    
       
    
        #street {
            display: grid;
            grid-template-columns: 1fr, 2fr, 1fr;
        }
    
        #street img {
            width: 640px;
            margin-left: 50px;
            display: inline-block;
        }
    
        #street p {
            grid-column-start: 2;
            grid-column-end: 3;
            padding: 20px;
            
        }
    
        footer {
            display: grid;
        }
    
        #foottext {
            grid-column-start: 1;
            grid-column-end: 1;
            margin-right: 500px;
            margin-top: 25px;
        }
    
        footer img {
            width: 200px;
            margin: 0;
            margin-left: 25px;
            grid-column-start: 0;
            grid-column-end: 1;
        }
    
        #connect ul {
            grid-column-start: 1;
            grid-column-end: 2;
            display: inline;
        }
    
        #container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    
        #rice {
            grid-column-start: 0;
            grid-column-end: 1;
            height: 370px;
            width: 320px;
        }
    
        #salsa {
            grid-column-start: 1;
            grid-column-end: 2;
            height: 370px;
            width: 320px;
        }
    
        #guacamole {
            grid-column-start: 2;
            grid-column-end: 3;
            height: 370px;
            width: 320px;
        }
    
        #tortillas {
            grid-column-start: 3;
            grid-column-end: 4;
            height: 370px;
            width: 320px;
        }
    
        #rice img {
            width: 200px;
            height: 200px;
            margin-left: 5px;
        }
    
        #salsa img {
            width: 200px;
            height: 200px;
            margin-left: 5px;
        }
    
        #guacamole img {
            width: 200px;
            height: 200px;
            margin-left: 5px;
        }
    
        #tortillas img {
            width: 200px;
            height: 200px;
            margin-left: 5px;
        }
    
        #details {
            background-color: #0D0D0D;
            color: #7ABFBF;
            height: 200px;
        }
    
        #top figure {
            display: block;
            width: 75px;
            height: 230px;
            padding: 5px;
            background-color: #FFFFFF;
        }
    
        #top li {
            width: 50px;
            height: 230px;
        }
    
    
    }

    }
    @media print {
        body {
            font-family: serif;
            display: inline;
            margin: 0;
            padding: 0;
        }
        #ingredients {
            margin: 0;
            padding: 0;
        }
        h2 {
            display: none;
        }
        #street {
            display: none;
        }
        nav {
            display: none;
        }
    
        footer {
            display: none;
        }
        #side {
            display: none;
        }
        img {
            display: none;
        }
        @page {
            margin: 0.5in;
        }
    }